*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 5rem;
    min-height: 10vh;
    white-space: pre-line;
    color: red;
}
.player-turn{
    display: flex;
    padding: 2rem;
    font-size: 5rem;
    justify-content: space-around;
    min-height: 10vh;
    width: 100vw;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    padding: 100px;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr) );
    grid-template-rows: repeat(3, minmax(100px, 1fr) );
    gap: 12px;
    height: 600px;
    width: 600px;
}
.box{
    border: 2px solid red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.box:hover{
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(0, 0, 0, .6);
    margin: auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 7px;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .modal-text{
    font-size: 3rem;
  }

  .restart-button{
    width: 100px;
    height: 30px;
    background-color: blue;
    border-style: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }